*{
  background-color: rgb(209, 177, 135);
}

.navBar {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
}

a:link{
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
  height: 80px;
  background-color: #f1696c;
  box-shadow: 0 0 0 0.3rem rgb(221, 194, 194);
  width: 120px;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
}

p {
  font-size: 20px;
}